<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form method="POST" action="/team">
    <label name="name">Team Name:</label>
    <input type="text" name="name">
    <label name="coach">Coach:</label>
    <input type="text" name="coach">
    <label name="pg">Point Guard:</label>
    <input type = "text" name="pg">
    <label name="sg">Shooting Guard:</label>
    <input type="text" name="sg">
    <label name="sf">Small Forward:</label>
    <input type="text" name="sf">
    <label name="pf">Power Forward:</label>
    <input type="text" name="pf">
    <label name="c">Center:</label>
    <input type="text" name="c">
    <input type="submit" id="Submit">
  </form>
 </body>
</html>


